h1{
     background-color: pink;
     font-family: sans-serif;
     text-align: center;
}
h2{
    background-color: bisque;
    font-family: serif;
}
 h3{
     background-color: gray;
    color: blue;
    font-family: sans-serif;
    font-size: medium;
    font-style: inherit;
}
ol{
    color: violet;
    font-style: oblique;
}
em{
    color: tomato;
    font-style: italic;
}